<%- include('header') %>
    <div class="box">
        <div class="title">
            <h1><%=listTitle%></h1>        
        </div>
        <div class="list">
            <% for (var i=0; i<newListTasks.length; i++){%>
                <p class="listItems"><input type="checkbox"><span><%=newListTasks[i]%></span></p>
                <hr>
            <%}%>
            <form class="item" action="<%=route%>" method="post">
                <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
                <button type="submit" name="list">+</button>
            </form>
        </div>
    </div>
<%- include('footer') %>